<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <style>
    body {
      background: #000;
      margin: 0px;
    }
  </style>
</head>

<body>
</body>

</html>